specfun/
sobol.pdf
build/
a11-owen.pdf
art_owen_scrambling.pdf
bratley_sobol.pdf
kuo_joe.pdf
niederreiter.pdf
p95-s_hong.pdf
Supplementary_File.pdf
FunctionsTest/build/
FunctionsTest/francisco.m
FunctionsTest/perm.mat
error_bound_optim.m
FunctionsTest/deprecated/
ASPEN_iooss_fev13-1.pptx
sobolInd_error_bound.nb
kuo_code/sobol
kuo_code/new-joe-kuo-6.21201
kuo_code/C_matrices_R.txt
kuo_code/joe-kuo-old.1111
bratley.pdf
